<body>
<div class="card-body">
  <h4 class="card-title">Login</h5>

    <form action="/auth/login" method="post" id="form-container">

  <label for="password">Password</label>
  <input id="password" type="password" name="password">

    {{!-- <div class="loginContainer"> --}}
      <div class="form-group col-xs-4">
        <label for="username">Username</label>
        <input id="username" type="text" name="username">
      </div>
      <br><br>
      <div class="form-group col-xs-4">
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
      </div>
    {{!-- </div> --}}

  <br><br>

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/login">Signup</a>
  </p>
</form>


</div>
</body>





{{!-- 
##################################

<h2>Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password">
  <br>
  {{#if message }}
    <div class="error-message myError">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/login">Signup</a>
  </p>
</form> --}}
