<div class="content-overlay card text-white" id="new-package-container">
  <div class="card-body">
    <h4 class="card-title">New Task</h5>
      <form action="/project/new-package/{{project._id}}" method="post">
        <div class="form-group">
          <label for="task-name">Task Name</label>
          <input class="form-control" id="task-name" type="text" name="name" placeholder="Rescue a caterpillar">
        </div>
        <div class="form-group">
          <label for="project-description">Description / Notes</label>
          <textarea class="form-control non-resize" id="project-description" type="text" name="description" placeholder="One day it will turn into a butterfly"
            rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="task-completion-date">Deadline</label>
          <input class="form-control" id="task-completion-date" type="date" name="deadline">
        </div>
        <div id="to-do-group">
          <div class="form-group">
            <label for="todo-1">To-Dos</label>
            <textarea class="form-control non-resize" id="todo-1" type="text" name="todo-1" placeholder="Go for a walk in the wild"></textarea>
          </div>
        </div>
        <button id="add-new-package-btn" type="button" class="btn btn-outline-light btn-block">Add To-Do</button>
        <button type="submit" class="btn btn-outline-light btn-block">Create Package</button>
      </form>
  </div>
</div>