<h1 class="landingPageTitle">{{title}}</h1>

<body>
  <div class="card-body">
  <h4 class="card-title">Login</h4>

    <form action="/auth/login" method="post">

      <div class="settingsContainer">
        <div class="form-group">
          <label for="loginUsername">Username</label>
          <input class="form-control" idr="loginUsername" type="text" name="loginUsername">
        </div>

        <div class="form-group">
          <label for="loginPassword">Password</label>
          <input class="form-control" id="loginPassword" type="password" name="loginPassword">
        </div>

        <br>
        {{#if message }}
          <div class="error-message">{{ message }}</div>
        {{/if}}

        <button>Login</button>
       
        <p class="account-message">
          <br> 
          Don't have an account yet?
          <a href="/auth/signup">Signup</a>
        </p>
    </form>
  </div>
</body>
