@import "node_modules/bootstrap/scss/bootstrap";

a {
  color: #00b7ff;
}
.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileTop {
  padding: 0% 10%;
}
.flexColumn {
  flex-direction: column;
  justify-content: center;
}
#settingsIcon {
  width: 25px;
}
#profilePic {
  width: 50px;
  height: auto;
}
.profileSiteLi {
  list-style-type: none;
  width: 100%;
  padding: 0% 20%;
  margin: 0;
}
.projectsList {
  padding: 0px 0px;
  text-align: center;
}
.project {
  background: rgb(43, 157, 165);
  margin: 2%;
  outline: none;
  border: none;
  width: 100%;
}
.project:focus,
.project:active {
  outline: none !important;
  box-shadow: none;
}
.profileList {
  width: 100%;
  margin: 0;
  padding: 0;
}
.idea {
  background: rgb(167, 168, 168);
  margin: 2%;
  outline: none;
  border: none;
  width: 100%;
}
.packageContainer {
  background: rgb(70, 140, 221);
  border-radius: 10px;
  margin: 1% 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todosDiv {
  text-align: left;
}
.doneLi {
  color: gray;
}
.checkbox-teal [type="checkbox"]:checked + label:before {
  border-color: transparent #009688 #009688 transparent;
}

// Overlay

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(111, 114, 117, 0.5);
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.content-overlay {
  width: 700px;
  padding: 30px;
}

h4.card-title {
  margin-bottom: 1.5rem !important;
}
.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

@media (max-width: 768px) {
  .content-overlay {
    padding-left: 0;
    padding-right: 0;
  }
}

#new-project-container {
  background-color: rgb(111, 114, 117) !important;
  display: none;
}

#new-package-container {
  background-color: #50858b !important;
  display: none;
}

.top-buffer {
  margin-top: 20px;
}

.non-resize {
  resize: none;
}
