@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-image: url("/images/landingPagePic.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

#settingsBackground {
  background-image: url("/images/settingsPic.jpg");
}
a {
  color: #00b7ff;
}

// profile page

h4 > a {
  color: #2c2f33;
}

h4 > a:hover {
  text-decoration: none;
  color: #65676a;
}

.card-ideas {
  background-color: #afcddc;
}

.card-ideas a {
  color: white;
}
.card-ideas a:hover {
  color: #007bff;
}

.idea-headline {
  letter-spacing: 0.0625em;
}

#settingsIcon {
  width: 25px;
}
#profilePic {
  width: 50px;
  height: auto;
}
.profileSiteLi {
  list-style-type: none;
  width: 100%;
  padding: 0% 20%;
  margin: 0;
}
.projectsList {
  padding: 0px 0px;
  text-align: center;
}
.project {
  background: rgb(43, 157, 165);
  margin: 2%;
  outline: none;
  border: none;
  width: 100%;
}
.project:focus,
.project:active {
  outline: none !important;
  box-shadow: none;
}
.profileList {
  width: 100%;
  margin: 0;
  padding: 0;
}
.idea {
  background: rgb(167, 168, 168);
  margin: 2%;
  outline: none;
  border: none;
  width: 100%;
}
.packageContainer {
  background: rgb(70, 140, 221);
  border-radius: 10px;
  margin: 1% 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todosDiv {
  text-align: left;
}
.doneLi {
  color: gray;
}
.checkbox-teal [type="checkbox"]:checked + label:before {
  border-color: transparent #009688 #009688 transparent;
}

// Overlay

.overlay {
  position: fixed;
  display: none;
  max-width: 100%;
  // height: 100vh;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(111, 114, 117, 0.5);
  z-index: 2000;
}

.content-overlay {
  width: 700px;
  padding: 30px;
  margin: auto;
}

@media (max-width: 768px) {
  .content-overlay {
    padding-left: 0;
    padding-right: 0;
  }
}

.close-x {
  cursor: pointer;
  top: 20px;
  right: 23px;
  font-size: 25px;
}

.close-x:hover {
  font-size: 30px;
}

h4.card-title {
  margin-bottom: 1.5rem !important;
}
.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

#new-project-container {
  background-color: rgb(111, 114, 117) !important;
  display: none;
}

#new-package-container {
  background-color: #50858b !important;
  display: none;
}
#new-idea-container {
  background-color: #95a3a4 !important;
  display: none;
}
.top-buffer {
  margin-top: 20px;
}

.non-resize {
  resize: none;
}
.myNavItem {
  color: grey;
  align-self: center;
  font-size: 1.5rem;
}
.myNavItem:hover {
  color: #bbc1c7;
}

// project page
.opacity-95 {
  opacity: 0.95;
}

.unchecked-task {
  background-color: #c3b7c0;
}
.unchecked-task-input {
  background-color: #d4ccd2;
}
.unchecked-task-input:focus {
  background-color: #ddd6db;
}
.checked-task {
  background-color: #a9dbb8;
}
.checked-task-input {
  background-color: #c8e7d2;
}
.checked-task-input:focus {
  background-color: #d8eedf;
}

.new-task-input:focus {
  background-color: white;
}

.card-to-dos li,
.new-task-input,
.card-to-dos-header {
  background-color: #f0f1f2;
}

.btn-to-do-save:hover,
.btn-project-view:hover {
  background-color: #999a9b;
  border-color: #999a9b;
}

.btn-project-view {
  width: 12em;
}

.error-message {
  color: rgb(131, 25, 25);
  font-size: 1.5rem;
}

.settingsContainer {
  width: 50%;
}

.signup-container {
  width: 400px;
}

@media (max-width: 576px) {
  .signup-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .settingsContainer {
    width: 100%;
  }
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0px 9999px white;
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}
  
.landingPageTitle{
  text-align: center;
  color: #212529e8;
}
